<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Supprimer un produit</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            Vous êtes sûr de vouloir supprimer ce produit ?
            <input type="submit" value="Supprimer" />
            <a href="/market/">Annuler </a>
        </form>
    </body>
</html>